@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary-400: #762bdf;
  --color-primary-500: #762bff;
  --color-secondary: #eceefd;
  --color-dark: #101010;
  --color-dark-secondary: #171b24;
}

@theme {
  --breakpoint-xsm: 19rem;
}
